@import url(./reset.css);

:root {
  --color-white: #ffffff;
  --color-accent: #dc56c5;
  --color-bg: #212121;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-image: url('../img/bg-desktop.png');
  background-position: center top;
  background-repeat: no-repeat;
  color: var(--color-white);
  background-color: #0e0e0e;
}
@media (max-width: 1200px){
   body{
        background-image: url('../img/bg-tablet.png');
   }
   .container{
        width: 768px;
   }
}
@media (max-width: 768px){
   body{
        background-image: url('../img/bg-mobile.png');
   }
   .container{
        width: 320px;
   }
}

.container{
    margin: 0 auto;
    max-width: 1280px;
}

/* -- header -- */
.header__container{
    position: relative;
}
.header__logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    height: 201px;
    border-radius: 0px 0px 100% 0px;
    backdrop-filter: blur(22px);
}
.header__logo img{
    margin: 40px 0 0 40px;
}
.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 446px;
}
.header__title{
    padding: 40px 0 52px 0 ;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: var(--color-accent);
}
.header__search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.header__keyword{
    display: flex;
    align-items: center;
}
.header__search input{
    padding: 10px 30px;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}
.header .header__input{
    width: 230px;
    border-radius: 20px 0 0 20px;
}
.header__btn{
    /* // background-image: url(../img/search.svg); */
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    font-size: 30px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: var(--color-white);
}
.event-img{
    width: 200px;
}
